<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:8090/VediamoSeFunge" binding="wsHttpBinding" contract="WCFCalculatorSelfHostProxy.IService1"></endpoint>
    </client>
  </system.serviceModel>
</configuration>